@use "../../utils" as u;

.container {
  position: relative;
  width: 100%;
  padding: 0 u.remCalc(16);
  padding-top: u.remCalc(116);

  h2 {
    margin-top: u.remCalc(28);
    margin-bottom: u.remCalc(42);
  }

  @include u.breakpoint(desktop) {
    max-width: u.remCalc(802);
    margin: 0 auto;
    padding-top: u.remCalc(48);
    margin-bottom: u.remCalc(32);

    h2 {
      margin-top: u.remCalc(80);
    }
  }
}
