@use "../../utils" as u;

.header {
  width: 100%;
  padding: u.remCalc(24) u.remCalc(16);
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  pointer-events: none;
  top: 0;
  left: 0;

  @include u.breakpoint(desktop) {
    padding: u.remCalc(50) u.remCalc(40);
  }

  &__logo {
    pointer-events: all;
  }

  &__time {
    pointer-events: all;
  }
}
